%table
  - if users.empty?
    %p No users to show.  You could be the first!
  - else
    %tr
      %th Username
      %th Time registered
      - users.each do |user|
        %tr
          %td= link_to user.username, url_for(:user, :index, :username => user.username)
          %td= user.created_at
