%table
  - if statuses.empty?
    %p No statuses to show.
  - else
    %tr
      %th Username
      %th Status text
      %th Time posted
    - statuses.each do |status|
      %tr
        %td= link_to status.user.username, url_for(:user, :index, :username => status.user.username)
        %td= status.text
        %td= status.created_at.to_s(:short)
        - if status.user == current_user
          %td= link_to "Delete", url_for(:status, :destroy, :id => status.id)
